# Why Pandas?
Pandas is the most popular python library that is used for data analysis.Eventhough the analysis of data can also be done with excel,it struggles with large data.It is used in Data sience

### How to install it?
Open terminal and type the below code:
    pip install pandas

In [1]:
import pandas as pd

### Create or download csv files
Create a sample data set using excel and save the file as a '.csv' file in the same directory of your jupyter notebook or download any csv file from kaggle.

## Working with pandas
A dataframe is used to store your file.
import your csv files by using:
pd.read_csv('  ')

In [2]:
sample_data = pd.read_csv('data.csv')

Type the name of your dataframe to view your csv file

In [3]:
sample_data

            x           y
0   32.502345   31.707006
1   53.426804   68.777596
2   61.530358   62.562382
3   47.475640   71.546632
4   59.813208   87.230925
5   55.142188   78.211518
6   52.211797   79.641973
7   39.299567   59.171489
8   48.105042   75.331242
9   52.550014   71.300880
10  45.419730   55.165677
11  54.351635   82.478847
12  44.164049   62.008923
13  58.168471   75.392870
14  56.727208   81.436192
15  48.955889   60.723602
16  44.687196   82.892504
17  60.297327   97.379897
18  45.618644   48.847153
19  38.816818   56.877213
20  66.189817   83.878565
21  65.416052  118.591217
22  47.481209   57.251819
23  41.575643   51.391744
24  51.845187   75.380652
25  59.370822   74.765564
26  57.310003   95.455053
27  63.615561   95.229366
28  46.737619   79.052406
29  50.556760   83.432071
..        ...         ...
70  31.588117   50.392670
71  53.660932   63.642399
72  46.682229   72.247251
73  43.107820   57.812513
74  70.346076  104.257102
75  44.492856   86.642020
76  57.504533   91.486778
77  36.930077   55.231661
78  55.805733   79.550437
79  38.954769   44.847124
80  56.901215   80.207523
81  56.868901   83.142750
82  34.333125   55.723489
83  59.049741   77.634183
84  57.788224   99.051415
85  54.282329   79.120646
86  51.088720   69.588898
87  50.282836   69.510503
88  44.211742   73.687564
89  38.005488   61.366905
90  32.940480   67.170656
91  53.691640   85.668203
92  68.765734  114.853871
93  46.230967   90.123572
94  68.319361   97.919821
95  50.030174   81.536991
96  49.239765   72.111832
97  50.039576   85.232007
98  48.149859   66.224958
99  25.128485   53.454394

[100 rows x 2 columns]

Use the function 'head' to view limited tumber of rows 

df"name".head("number of rows")

In [4]:
sample_data.head(3)

           x          y
0  32.502345  31.707006
1  53.426804  68.777596
2  61.530358  62.562382

similarly you can use the 'tail' function to view the last rows

In [5]:
sample_data.tail(3)

            x          y
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

Use the function 'iloc' to locate an element 

df"name".column"name".iloc["Element"]

In [6]:
sample_data.y.iloc[33]

96.76956643

Use describe() function to get the statistical details of your data

In [7]:
sample_data.describe()

                x           y
count  100.000000  100.000000
mean    48.958341   72.735051
std      9.746379   16.658187
min     25.128485   31.707006
25%     41.526164   60.788586
50%     49.634970   72.179542
75%     56.762631   83.215080
max     70.346076  118.591217